.panel {
    width: 71%;
    margin-top: 3px;
    position: relative;
    top: 0%;
    right: 50%;
    transform: translate(92%, 0%);
    &-img {
        width: 100%;
        height: 100%;
    }
}

.nocontent {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 2rem;
}