<p>
    <mat-toolbar>
        <mat-icon class="tb-menu" matTooltip="Main menu" matTooltipClass="tooltip">menu</mat-icon>
        <img class="gb_va" src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png"
            srcset="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png 1x, https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_2x_r2.png 2x "
            alt="" aria-hidden="true" style="width:109px;height:40px">
        <span class="example-spacer">
            <div class="tb-search">
                <mat-icon matTooltip="search" matTooltipClass="tooltip">search</mat-icon>
                <input (focus)="focus()" (focusout)="focusout()" type="search" placeholder="Search mail">
                <mat-icon matTooltip="show search options" matTooltipClass="tooltip">arrow_drop_down</mat-icon>
            </div>
        </span>
        <div class="tb-option">
            <mat-icon matTooltip="Support" matTooltipClass="tooltip">help_outline</mat-icon>
            <mat-icon matTooltip="Settings" matTooltipClass="tooltip">settings</mat-icon>
            <mat-icon matTooltip="Google apps" matTooltipClass="tooltip">apps</mat-icon>
            <mat-icon matTooltip="Google Account" matTooltipClass="tooltip">account_circle</mat-icon>
        </div>
    </mat-toolbar>
</p>